:root {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    --button-color: rgb(58, 58, 143);
    --button-active: rgb(20, 20, 48);
    --button-hover: rgb(84, 84, 210);

    --white: rgb(245, 245, 245);

    --window-border-radius: 30px;
}

body {
    background-color: var(--white);
}

.increment_button
{
    width: 5rem;
}

button {
    background-color: var(--button-color);
    color: whitesmoke;
    border-radius: 5px;
    border-color: var(--button-color);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: large;
}

.button_column_centerer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

button:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

button:active {
    background-color: var(--button-active);
    border-color: var(--button-active);
}

.lifepoints {
    font-size: 40pt;
    text-align: center;
    width:7rem;
}

.player-lost {
    color: rgb(169, 0, 0);
}

.secondary-button
{
    filter: saturate(0.2);
}

.reset-button {
    position: absolute;
    width: fit-content;
    top: 2rem;
    right: 2rem;
    
}

.popup {
    background-color: var(--white);
    border-radius: var(--window-border-radius);
    padding: var(--window-border-radius);
    min-width: 150px;
    min-height: 100px;
    display: block;
}

.popup-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0.0, 0.0, 0.0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group
{
    margin: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
